<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tru2dagame.switch-chrome-profiles</string>
	<key>connections</key>
	<dict>
		<key>4A462803-FB80-493B-9307-4626D11177ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADF48F6B-9297-483F-A433-EDAACAE13B71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86CBCDAA-666D-4F5B-8C95-E01C17FDA60A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADF48F6B-9297-483F-A433-EDAACAE13B71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADF48F6B-9297-483F-A433-EDAACAE13B71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0B313A8-FD37-4FDF-9675-35014FB26067</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0B313A8-FD37-4FDF-9675-35014FB26067</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA7F96E2-2E77-4191-80C1-8937410CE6EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FC665E6B-5A0B-4617-94A4-03DD9B053B2B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D70945CC-FFC1-4A9E-B7DE-46690B348B7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tru Zhou</string>
	<key>description</key>
	<string>Use apple script to open Chrome profiles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Switch Chrome Profiles fzf</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list_profiles.zsh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A462803-FB80-493B-9307-4626D11177ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>DA7F96E2-2E77-4191-80C1-8937410CE6EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>cp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=$JQ_PATH:$PATH

source check-jq.sh

source list_profiles.zsh

echo $profile | jq -nR '{ "items":
     [ inputs
       | select(length&gt;0) as $name |
       split("-") as $parts |
       {
       "uid": $name,
        "title":$name | sub("-"; " "; "g") | sub("\\("; " "; "g") | sub("\\)"; " "; "g"),
        "subtitle":$name,
        "arg":$name,
        "autocomplete":$name | sub("-"; " "; "g") | sub("\\("; " "; "g") | sub("\\)"; " "; "g")
       }
     ]}'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>filter.zsh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Switch to selected Google Profile</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ADF48F6B-9297-483F-A433-EDAACAE13B71</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_chrome</string>
						<key>outputlabel</key>
						<string>open_chrome</string>
						<key>uid</key>
						<string>FC665E6B-5A0B-4617-94A4-03DD9B053B2B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>jq</string>
						<key>outputlabel</key>
						<string>jq</string>
						<key>uid</key>
						<string>DDCB00CC-BB22-47A2-A159-FF0CB6FEFE5C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F0B313A8-FD37-4FDF-9675-35014FB26067</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>check-jq.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86CBCDAA-666D-4F5B-8C95-E01C17FDA60A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    set GProfile to q

    tell application "System Events" to tell process "Google Chrome"
        delay 0.1
        -- menu bar item 8 is "Profiles", use "8" to prevent language issue        click menu item GProfile of menu 1 of menu bar item 8 of menu bar 1    end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D70945CC-FFC1-4A9E-B7DE-46690B348B7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv
  return theQuery
end runfddfdf</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open_profile.script</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>315D221F-1C1A-436A-A69B-83CAFB7F04F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Edit jq path if you need.

Defaults are (M1/Intel) homebrew path</string>
	<key>uidata</key>
	<dict>
		<key>315D221F-1C1A-436A-A69B-83CAFB7F04F9</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>4A462803-FB80-493B-9307-4626D11177ED</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>86CBCDAA-666D-4F5B-8C95-E01C17FDA60A</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>ADF48F6B-9297-483F-A433-EDAACAE13B71</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>D70945CC-FFC1-4A9E-B7DE-46690B348B7C</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>DA7F96E2-2E77-4191-80C1-8937410CE6EA</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>F0B313A8-FD37-4FDF-9675-35014FB26067</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JQ_PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/tru2dagame/alfred-switch-chrome-profiles</string>
</dict>
</plist>
