<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tru2dagame.switch-chrome-profiles</string>
	<key>connections</key>
	<dict>
		<key>ADF48F6B-9297-483F-A433-EDAACAE13B71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0B313A8-FD37-4FDF-9675-35014FB26067</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0B313A8-FD37-4FDF-9675-35014FB26067</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDF67DD6-F349-4266-985C-047F43559A11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FC665E6B-5A0B-4617-94A4-03DD9B053B2B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D70945CC-FFC1-4A9E-B7DE-46690B348B7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tru Zhou</string>
	<key>description</key>
	<string>Use apple script to open Chrome profiles</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Switch Chrome Profiles fzf</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>Google Chrome</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>CDF67DD6-F349-4266-985C-047F43559A11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>cp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=$JQ_PATH:$PATH

source check-jq.sh

source list_profiles.zsh

echo $profile | jq -nR '{ "items":
     [ inputs
       | select(length&gt;0) as $name |
       split("-") as $parts |
       {
       "uid": $name,
        "title":$name | sub("-"; " "; "g") | sub("\\("; " "; "g") | sub("\\)"; " "; "g"),
        "subtitle":$name,
        "arg":$name,
        "autocomplete":$name | sub("-"; " "; "g") | sub("\\("; " "; "g") | sub("\\)"; " "; "g")
       }
     ]}'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>filter.zsh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Switch to selected Google Profile</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ADF48F6B-9297-483F-A433-EDAACAE13B71</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_chrome</string>
						<key>outputlabel</key>
						<string>open_chrome</string>
						<key>uid</key>
						<string>FC665E6B-5A0B-4617-94A4-03DD9B053B2B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>jq</string>
						<key>outputlabel</key>
						<string>jq</string>
						<key>uid</key>
						<string>DDCB00CC-BB22-47A2-A159-FF0CB6FEFE5C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F0B313A8-FD37-4FDF-9675-35014FB26067</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    set GProfile to q

    tell application "System Events" to tell process "Google Chrome"
        delay 0.1
        -- menu bar item 8 is "Profiles", use "8" to prevent language issue        click menu item GProfile of menu 1 of menu bar item 8 of menu bar 1    end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D70945CC-FFC1-4A9E-B7DE-46690B348B7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Run `cp` to switch to or open a different Google Chrome profile.</string>
	<key>uidata</key>
	<dict>
		<key>ADF48F6B-9297-483F-A433-EDAACAE13B71</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>CDF67DD6-F349-4266-985C-047F43559A11</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D70945CC-FFC1-4A9E-B7DE-46690B348B7C</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>F0B313A8-FD37-4FDF-9675-35014FB26067</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/opt/homebrew/bin:/usr/local/bin</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Extra locations to look for jq and fzf.</string>
			<key>label</key>
			<string>Tools Path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TOOLS_PATH</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3</string>
	<key>webaddress</key>
	<string>https://github.com/tru2dagame/alfred-switch-chrome-profiles</string>
</dict>
</plist>
